
.player {
	font-size: 30px;

	height: 100px;
	margin: 10px 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	clear: both;
}

.player a {
	height: 100px;
	width: 100px;
	display: block;
	border: 1px solid black;
	border-radius: 15px;
	text-decoration: none;
}

.player .life {
	margin: 0 120px;
	left: 0;
	right: 0;
}

.player .add {
	float: left;
}

.player .subtract {
	float: right;
	margin-left: auto;
}

#player1 {
	position: absolute;
	bottom: 0;
}
#player2 {
	bottom: 0;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}