
.player {
	font-size: 30px;
	margin: 10px;
	text-align: center;
	line-height: 100px;
	overflow: hidden;
	padding: 10px;
}

.player a {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 15px;
	text-decoration: none;
}

.player .life {
	margin: 0 110px;
	display: block;
}

.player .subtract {
	float: left;
}

.player .add {
	float: right;
}

#player1 {
	position: absolute;
	bottom: 0;
	left: 110px;
	right: 110px;
}

#player2 {
	position: absolute;
	top: 0;
	left: 110px;
	right: 110px;
}

#player3 {
	position: absolute;
	bottom: 110px;
	left: 0;
	top: 110px;
	vertical-align: middle;
}

#player4 {
	position: absolute;
	bottom: 110px;
	top: 110px;
	right: 0;
	vertical-align: middle;
}

#player1life {

}
#player2life {
	left:0;
	right:0;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}
#player3life {
	left:0;
	right:0;
	transform:rotate(90deg);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
}
#player4life {
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
}